In [15]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [28]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:gochiefs1@127.0.0.1:3306/gReviews_db")
conn = engine.connect()

In [29]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM googlereviews", conn)

In [30]:
data.head()

,﻿Restaurant,Google Rating (out of 5),Number of Ratings,Location,Address,Zip,Lat,Lon
0,1500 Ocean,4.1,76,Coronado,1500 Orange Ave,92118,32.681261,-117.17992
1,608 Restaurant,4.6,106,Oceanside,608 Ocean Ave,92054,33.200000,-117.38000
2,Pokewan,4.7,24,Del Mar,12925 El Camino Real,92130,32.952013,-117.23253
3,Havana 1920,4.3,203,Gaslamp Quarter,548 Fifth Ave,92101,32.711110,-117.16041
4,Lionfish Modern Coastal Cuisine,4.4,186,Gaslamp Quarter,435 Fifth Ave,92101,32.711540,-117.16014